<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Medi App</ion-title>

    </ion-navbar>
    <ion-toolbar color="primary" class="personal-toolbar">
        <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" color="white">
            <ion-segment-button *ngFor="let item of listSegments" value="{{item.id}}">
                {{item.name}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides color="primary" (ionSlideDidChange)="onSlideChanged($event)" #loopSlider>
        <ion-slide *ngFor="let slide of listSegments">
            <ion-grid class="full-grid" *ngIf="slide.data.length == 0">
                <ion-row align-items-center justify-content-center>
                    <ion-col col-auto>
                        <h2 text-center ion-text color="white">No se han encontrado Elemento en la categoría {{slide.name}}</h2>
                    </ion-col>
                    <ion-col col-auto>
                        <button ion-button icon-left (click)="getCategories()">
                                    <ion-icon name="add"></ion-icon>
                                    Agregar
                                </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding class="full-grid">
                <ion-row class="height-auto" justify-content-start align-items-start>
                    <ion-col col-12 col-sm-6 *ngFor="let item of slide.data">
                        <ion-card class="personal-card">
                            <ion-card-content>
                                <ion-card-title text-left>
                                    {{ item.name }}
                                </ion-card-title>
                                <p ion-text text-left>
                                    {{item.detail}}
                                </p>
                            </ion-card-content>

                            <ion-row justify-content-end align-items-end>
                                <ion-col col-auto>
                                    <button ion-button icon-left small>
                                                    <ion-icon name="create"></ion-icon>
                                                    <div>Editar</div>
                                                  </button>
                                </ion-col>

                            </ion-row>


                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-fab class="zindex-button" right #fab bottom>
                <button ion-fab color="light"><ion-icon name="arrow-dropup"></ion-icon></button>
                <ion-fab-list side="top">
                    <button (click)="goToModalView('AddItemPage',slide);closeFab(fab)" ion-fab><ion-icon name="add" ></ion-icon></button>
                    <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                    <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                    <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
                </ion-fab-list>
            </ion-fab>
        </ion-slide>
    </ion-slides>
</ion-content>