page-home {
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }
    // para definir el tamaño auto de los ionc-segement-button
    .segment-button {
        width: 30% !important;
    }
    .personal-toolbar {
        padding: 0px;
        min-height: 56px;
    }
    .slide-zoom {
        height: 100%;
    }
    .flex-column {
        flex-direction: column;
    }
    .full-grid {
        height: 100%;
        & ion-row {
            height: 100%;
        }
    }
    .personal-card {
        margin: 5px;
        margin-left: 7px;
        width: 97%;
    }
    .height-auto {
        height: auto !important;
    }
    .zindex-button {
        z-index: 100;
    }
}