<!--
  Generated template for the AddItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left> <button ion-button icon-only (click)="closeModal()" class="my-style-for-modal"> <ion-icon name="arrow-back"></ion-icon> </button> </ion-buttons>
        <ion-title>Agregar item</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>

        <ion-item>
            <ion-label fixed>Nombre</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="h/mm" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>

    </ion-list>
</ion-content>